<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <title>Scotland Yard</title>
    <style>
        html,
        body {
            height: 370px;
            padding: 0;
            margin: 0;
        }

        #map {
            height: 80vh;
            width: 80vw;
            overflow: hidden;
            float: left;
            border: thin solid #333;
        }
    </style>
</head>

<body>
    <div id="map"></div>
    <script async
        src="https://maps.googleapis.com/maps/api/js?key=<%= api_key %>&callback=initMap"></script>

    <script src="js/map.js"></script>

</body>

</html>