.demo-layout-transparent {
    background: linear-gradient(#6DB6F3, #C3D038) center / cover;
}

.demo-layout-transparent .mdl-layout__header,
.demo-layout-transparent .mdl-layout__drawer-button {
    /* This background is dark, so we set text to white. Use 87% black instead if
       your background is light. */
    color: white;
}

.title {
    margin: auto;
    padding-top: 15vh;
    width: max-content;
    height: 100%;
    color: white;
    text-align: center;
    /* font-family: Georgia, 'Times New Roman', Times, serif; */
}

.container {
    height: 100%;
}