:root {
    /* AMOGUS */
    --color-red: #C51111;
    --color-blue: #132FD2;
    --color-green: #50EF3A;
    --color-purple: #6B30BA;
    --color-yellow: #F5F558;
    --color-orange: #EF7D0E;
    --color-X: #3F484E;
}

layout-transparent {
    background: linear-gradient(#6DB6F3, #C3D038) center / cover;
}

.layout-transparent .mdl-layout__header,
.layout-transparent .mdl-layout__drawer-button {
    /* This background is dark, so we set text to white. Use 87% black instead if
       your background is light. */
    color: white;
}

.title {
    margin: auto;
    padding-top: 15vh;
    width: max-content;
    height: 100%;
    text-align: center;
    /* font-family: Georgia, 'Times New Roman', Times, serif; */
}

main {
    color: white;
}

.container {
    height: 100%;
}

form>div {
    margin: 1vh;
}

#gamecodebox {
    width: 100%;
    height: 15vh;
    background-color: blueviolet;
    border-radius: 10%;
}

#error {
    color: red;
}