html,
body {
  height: 100%;
  width: 100%;
  padding: 0;
  border: 0;
  margin: 0;
}

#board-wrap {
  height: 80vh;
  width: 80vw;
  margin: auto;
}

#board {
  height: 100%;
  display: flex;
  flex-direction: row;
  overflow: hidden;
  margin: 0;
}

#textsvg {
  height: 100%;
  width: 100%;
}

#textpath {
  stroke-dashoffset: 0;
}

svg {
  padding: 0;
  margin: 0;
  background-color: #252423;
}

canvas {
  display: block;
  margin: 5vh auto;
  min-width: 50%;
  width: 70vw;
}

[contenteditable] {
  outline: 0px solid transparent;
}


canvas {
  flex-basis: auto;
  flex-shrink: 0;
}

#ui, #log {
  overflow: scroll;
}

#ui {
  min-width: 25vw;
}
