@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

#players {
    text-align: center;
    width: 30%;
    margin: auto;
    color: white;
}

.player {
    padding: 2vh;
    margin: 1vh;
    border-radius: 10px;
    background-color: var(--bg-color);
    /* animation: fadein 1s; */
}

#main {
    margin: auto;
}

div#gamecodebox {
    margin: auto;
    text-align: center;
    padding: 3vh;
    font-size: 16px;
}

.player .material-icons {
    position: relative;
    top: 0.5vh;
}

#copy-link {
    border-radius: 5px;
}