@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

body {
    transition: opacity 0.2s;
}

#players {
    /* text-align: center; */
    width: 42vw;
    max-width: 500px;
    margin: auto;
    color: white;
}

.player {
    padding: 2vh;
    margin: 1vh;
    border-radius: 10px;
    background-color: var(--bg-color);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* animation: fadein 1s; */
}

.player .material-icons {
    position: relative;
    top: 0.5vh;
}

#buttons {
    display: flex;
    justify-content: center;
    padding: 3vh;
    font-size: 16px;
    width: 35vw;
    margin: auto;
}

.button {
    border-radius: 5px;
    flex-grow: 1;
    flex-basis: 0;
    margin: 1vw;
    max-width: 200px;
}

#main {
    margin: auto;
}

#colorButton {
    display: none;
}

#copy-link {
    background-color: #0d6efd;
}

#start {
    background-color: #1ED760;
    display: none;
}

.los {
    opacity: 0.6;
}

#previewsvg {
    width: 100%;
    height: 100%;
}

#playerheadpath {
    transform-origin: 25% 30%;
    transform: rotate(-90deg);
}

.list-group-item {
    text-align: center;
}

.modal-backdrop {background: none;}
.modal{background: none;}