@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

#players {
    /* text-align: center; */
    width: 30%;
    margin: auto;
    color: white;
}

.player {
    padding: 2vh;
    margin: 1vh;
    border-radius: 10px;
    background-color: var(--bg-color);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* animation: fadein 1s; */
}

.player .material-icons {
    position: relative;
    top: 0.5vh;
}


#main {
    margin: auto;
}

div#gamecodebox {
    margin: auto;
    text-align: center;
    padding: 3vh;
    font-size: 16px;
}

#copy-link {
    border-radius: 5px;
    background-color: #0d6efd;
}

#start {
    background-color: #1ED760;
    display: none;
}

.los {
    opacity: 0.6;
}