:root {
  /* AMOGUS */
  --color-red: 197, 17, 17;
  --color-blue: 19, 47, 210;
  --color-green: 80, 239, 58;
  --color-purple: 107, 48, 186;
  --color-yellow: 255, 191, 0;
  --color-orange: 239, 125, 14;
  --color-X: 63, 72, 78;
  --compl-blue: #ffc107;
}

@font-face {
  font-family: "comfortaa";
  src: url("/styles/fonts/Comfortaa.ttf") format("truetype");
}

body * {
  font-family: "comfortaa";
}

.clickable {
  cursor: pointer;
}

#logo {
  font-family: "comfortaa";
}

.layout-transparent {
  background: linear-gradient(45deg, #6db6f3, #c3d038) center / cover;
}

.layout-transparent .mdl-layout__header,
.layout-transparent .mdl-layout__drawer-button {
  color: white;
}

.title {
  margin: auto;
  padding-top: 15vh;
  width: max-content;
  height: 100%;
  text-align: center;
}

main {
  color: white;
}

.container {
  height: 100%;
}

form > div {
  margin: 1vh;
}

#error {
  color: red;
}

.link-light {
  transition: 0.3s;
}

.link-light:hover {
  color: rgb(255, 64, 129);
}
