:root {
  /* AMOGUS */
  --color-red: 197, 17, 17;
  --color-blue: 19, 47, 210;
  --color-green: 80, 239, 58;
  --color-purple: 107, 48, 186;
  --color-yellow: 255, 191, 0;
  --color-orange: 239, 125, 14;
  --color-X: 42, 42, 42;
  --compl-blue: #ffc107;
}

@font-face {
  font-family: "comfortaa";
  src: url("/styles/fonts/Comfortaa.ttf") format("truetype");
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    display: none;
  }
}


@keyframes floatin {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes floatout {
  from {
    opacity: 0.6;
    transform: translateY(0px);
  }
  to {
    opacity: 0;
    transform: translateY(-20px);
    display: none;
  }
}

.clickable {
  cursor: pointer;
}

#logo {
  font-family: "comfortaa";
}

.layout-transparent {
  background: linear-gradient(45deg, #6db6f3, #c3d038) center / cover;
}

.layout-transparent .mdl-layout__header,
.layout-transparent .mdl-layout__drawer-button {
  color: white;
}

