<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="styles/game.css">
    
    <style>
      .turn {
        color: {{ color }};
      }
    </style>

    <script>
      const PLAYER_ID = '{{ player_id }}';
      const GAME_ID = '{{ game_id }}';
      const NAME = '{{ name }}';
      const COLOR = '{{ color }}';
      const IS_HOST = {% if is_host %}true{% else %} false{% endif %};

      const BOARD = {{board|safe}};
      const STATIONS = {{coords|safe}};
      const MAP_DATA = {{map_data|safe}};
      const LIMITS = {{limits|safe}};
    </script>
  </head>
  <body>
    <main>
      <canvas id="canvas"></canvas>
      <div id="ui">
        <code id="gameLog"> </code>

        <br />
        <code
          >>>>&nbsp;<span contenteditable="true" id="ws-command"></span
        ></code>
      </div>
    </main>
    <script src="/js/map.js"></script>
    <script src="/js/game.js"></script>
  </body>
</html>
