<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Scotland Yard</title>
    <link rel="stylesheet" href="/styles/game.css">
</head>

<body>
    <svg id="textsvg">
        <g id="playerbody">
            <path id="playerheadpath" stroke-width="4" stroke="#7A6AC0" fill="#0000">
            </path>
            <path id="playerbodypath" stroke-width="4" stroke="#7A6AC0" fill="#0000"
                d="M 100 100 L 125 50 L 150 100 L 112 100">
            </path>
        </g>
    </svg>
    <script src="https://cdn.jsdelivr.net/npm/opentype.js@latest/dist/opentype.min.js"></script>
    <script src="/js/anime.min.js"></script>
    <script>
        function circlePath(cx, cy, r) {
            return 'M ' + cx + ' ' + cy + ' m -' + r + ', 0 a ' + r + ',' + r + ' 0 1,0 ' + (r * 2) + ',0 a ' + r + ',' + r + ' 0 1,0 -' + (r * 2) + ',0';
        }
        document.getElementById("playerheadpath").setAttribute("d", circlePath(125, 30, 18));

        opentype.load('/styles/fonts/Comfortaa.ttf', function (err, font) {
            if (err) {
                console.log('Font could not be loaded: ' + err);
            } else {
                const path = font.getPath('scotlandyard', 0, 150, 72);
                // document.getElementById("textpath").setAttribute("d", path.toPathData());
            }
        });

        // let t = anime.timeline()
        anime({
            targets: '#playerbody path',
            strokeDashoffset: [anime.setDashoffset, 0],
            easing: 'easeInOutSine',
            delay: function (el, i, n) { return (n - i - 1) * 200 },
            duration: 1000
        })

    </script>
</body>

</html>