<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
    <title>Scotland Yard</title>
    <link rel="stylesheet" href="/styles/main.css">
    <link rel="stylesheet" href="/styles/lobby.css">
    <title>Lobby | Scotland Yard</title>
</head>

<body>

    <div class="layout-transparent mdl-layout mdl-js-layout" id="layout">
        <header class="mdl-layout__header mdl-layout__header--transparent">
            <div class="mdl-layout__header-row">
                <span class="mdl-layout-title display-1" id="logo">scotlandyard</span>
                <div class="mdl-layout-spacer"></div>
                <nav class="mdl-navigation">
                    <a class="mdl-navigation__link" href="help.html">Help</a>

                </nav>
            </div>
        </header>

        <main class="mdl-layout__content">
            <div class="container" id="main" x-gameid="ewrewr">
                <div id="gamecodebox">
                    <span id="link"></span>
                    <button id="copy-link" class="btn btn-primary">Copy</button>
                </div>
                <div id="players" class="list-group">

                </div>
        </main>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <script src="/js/anime.min.js"></script>


    <script>
        const player_id = '{{ player_id }}';
        const game_id = '{{ game_id }}';
        const name = '{{ name }}';
        const color = '{{ color }}';

        let grad = {
            c1r: 109, c1g: 182, c1b: 243,
            c2r: 195, c2g: 208, c2b: 56
        }
        const layout = document.getElementById("layout");

        anime({
            targets: grad,
            c1r: 0,
            c1g: 0,
            c1b: 0,
            c2r: 133,
            c2g: 78,
            c2b: 241,
            duration: 1000,
            easing: 'easeInQuad',
            update: () => layout.style.background = 
            ` linear-gradient(45deg, rgb(${grad.c1r}, ${grad.c1g}, ${grad.c1b}), rgb(${grad.c2r}, ${grad.c2g}, ${grad.c2b})) center / cover`
        });
    </script>
    <script src="/js/lobby.js" type="module"></script>
</body>

</html>